<h2>
    Hey, Welcome to our CrossPlatform, where you can have all functionalities and platform access under single platform!
    <br><br>
    What you want to develop today?
  </h2>
  <div style="margin: 5%;">
    <button mat-button color="primary" (click)="webapp()">A cool web app? <mat-icon>http</mat-icon></button> or 
    <button mat-button color="primary" style="margin-left: 10px;" (click)="mobileapp()">some revolutionary mobile app<mat-icon>android</mat-icon>/<mat-icon>IOS</mat-icon></button>
</div>